/*
 * The basics, imported from Largo
 * See the Gruntfile.js for how those Largo files get imported
 */
/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/**
 * Before Footer, Site Footer
 *
 * #before-footer - a dynamic widget area prior to #site-footer
 * #site-footer
 *   #supplementary - primary widget zones for site footer
 *   #boilerplate - social icons, copyright, INN logo and footer links
 *
 * @since 0.5.3
 */
.before-footer-wrapper {
  background-color: #dddddd;
}
#before-footer .widget:last-child {
  margin-bottom: 0;
}
.footer-bg {
  background-color: #222222;
  padding: 0 0 18px;
  margin-bottom: 0;
}
#supplementary {
  padding: 24px 0 0 0;
}
#supplementary._1col aside {
  text-align: center;
}
/* specific to the one column footer layout */
._1col .widget_nav_menu li {
  display: inline;
  margin-right: 1em;
}
/*
 * image displays 300px wide, but is physically 1699x385 px^2
 * We'll use math to get the padding top and bottom correct, according to the brand guidelines
 * margin top and margin bottom should be equal to the height of one of the squares.
 * By cropping the image to the outer boundary of the lower-left square in inn_logo_reversetype.png, we get a square height of 184px.
 * 184/1669 = x/300
 */
#inn-logo {
  margin-top: 22.04913122px;
  margin-bottom: 16.53684841px;
  max-width: 200px;
}
#footer-logos-bg {
  background-color: #ffffff;
  padding: 10px 0;
}
#footer-logos {
  overflow: hidden;
}
#footer-logos a {
  display: block;
  float: left;
  width: 16.666666667%;
}
#footer-logos a img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}
#footer-logos h6 {
  margin-bottom: 4px;
  padding-bottom: 3px;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
  color: #7d8185;
  text-transform: uppercase;
  font-weight: normal;
}
#footer-logos h6 a {
  float: right;
  text-align: right;
}
ul#footer-social {
  padding-top: 22.04913122px;
  padding-bottom: 16.53684841px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 768px) {
  ul#footer-social {
    text-align: left;
  }
}
ul#footer-social li {
  height: 46.13541043px;
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}
@media (max-width: 768px) {
  ul#footer-social li {
    margin-top: 0;
  }
}
ul#footer-social li a {
  padding-right: 10px;
  padding-top: 16.07737739px;
}
ul#footer-social li i {
  position: relative;
  top: 0;
  padding: 5px;
  margin-top: 27.56141402;
  font-size: 18px;
  color: #ffffff;
}
ul#footer-social li i:hover {
  color: #bfbfbf;
}
ul#footer-social li:last-child a {
  padding-right: 0;
}
#boilerplate {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boilerplate p {
  margin-bottom: 0;
  color: #9F9FA3;
}
#boilerplate .menu {
  display: inline;
  margin: 0;
  font-size: 10.672px;
}
#boilerplate .menu li {
  display: inline;
  padding-right: 10px;
}
#boilerplate .menu {
  clear: none;
}
footer #boilerplate p {
  color: #9F9FA3;
}
footer #boilerplate a {
  color: #dddddd;
}
footer #boilerplate a:hover {
  color: #09C9FF;
}
@media (min-width: 769px) {
  #boilerplate .span6.right {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 979px) {
  .footer-credit-padding-inn-logo-missing {
    margin-top: 84.72139005px;
  }
}
@media (max-width: 979px) {
  #boilerplate .row-fluid .span6 {
    width: 100%;
    clear: both;
    margin-left: 0;
    text-align: center;
  }
  ul#footer-social {
    display: inline-block;
    width: auto;
    margin: 0 auto;
  }
  .footer-credit span {
    display: block;
  }
}
.back-to-top {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.btn.btn-navbar.toggle-nav-bar {
  font-size: 20px;
}
.navbar li .icon-search {
  font-size: 20px;
}
.toggle-nav-bar .bars .icon-bar {
  background-color: #e98803;
}
#main-nav.navbar {
  border: none;
}
.navbar .navbar-inner {
  background-color: #e98803;
  color: #fff;
  font-weight: bold;
}
.navbar .navbar-inner .nav > li > a {
  color: #fff;
}
.navbar .navbar-inner li.dropdown .dropdown-menu li a:hover {
  color: #fff;
}
.navbar .navbar-inner .caret:before {
  border-top-color: #fff;
}
.navbar .navbar-inner li a:hover {
  background-color: #e98803;
}
.navbar .navbar-inner li a:hover .caret:before {
  border-top-color: #fff;
}
nav.navbar div.navbar-inner {
  text-transform: uppercase;
}
.navbar li.home-icon > a img {
  height: 40px;
}
#header-search button {
  border: 1px solid #cccccc;
  background-color: #fff;
}
.show-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .show-mobile {
    display: block;
  }
  .show-mobile .homepage-top-stories article div.mobile-story {
    float: left;
    width: 60%;
    line-height: 1.25;
  }
  .show-mobile .homepage-top-stories article div.mobile-story h1 {
    font-size: 18px!important;
  }
  .show-mobile .homepage-top-stories article div.mobile-story p {
    font-size: 11px;
    display: inline;
    line-height: 1!important;
  }
  .show-mobile .homepage-top-stories article div.mobile-story.no-image {
    float: none;
    width: 100%;
  }
  .show-mobile .homepage-top-stories article figure.mobile-photo {
    float: right!important;
    width: 33%;
    margin-top: 21px!important;
  }
  .show-mobile .homepage-top-stories article figure.mobile-photo figcaption,
  .show-mobile .homepage-top-stories article figure.mobile-photo .wp-media-credit {
    display: none!important;
  }
  .show-mobile .homepage-top-stories article .byline {
    display: none;
  }
  .current-time {
    color: #9D004F;
  }
}
body.single-post .hero,
body.page .hero {
  background-color: #ffffff;
}
body.normal.single-post article.post > header h1 {
  padding-top: 12px;
}
body.single-post .span8 {
  border-right: 1px solid #e2e2e2;
}
body.single-post .span4 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
}
body.single-post .span4 .widget:first-child {
  padding-top: 0px;
}
body.single-post .hero.is-image img {
  margin-bottom: 4px;
  float: left;
}
body.single-post.normal .hero p.wp-caption-text,
body.single-post.normal .hero p.wp-media-credit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-size: 15px !important;
  font-style: normal;
  color: #6e6e6e;
  margin: 0;
}
body.single-post h5.byline {
  font-size: 16px;
}
body.single-post h5.byline .by {
  font-weight: bold;
}
body.single-post h5.byline span.edit-link {
  display: block;
  margin-top: 12px;
}
time {
  font-weight: normal;
  color: #aaa;
  margin: 0 0.8em 0 0.5em;
}
body.normal.single-post article.post > header h5.top-tag {
  position: relative;
}
.entry-content h5.top-tag,
h5.top-tag {
  margin-bottom: 0;
  line-height: 2;
}
.entry-content h5.top-tag a,
h5.top-tag a {
  color: #fff;
  background-color: #555;
  padding: 5px 8px;
}
.top-term-post_tag-deep-dive .top-tag a {
  content: '';
  display: block;
  background-color: #fff;
  background-image: url('../img/tag-deep-dive-320x75-indexed.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 256px;
  padding: 0;
  color: transparent;
  text-decoration: none;
}
.top-term-post_tag-deep-dive .top-tag a:hover {
  color: transparent;
  text-decoration: none;
}
/*
 * Copy Largo's sizing rules for body.normal.single-post .entry-content to apply to the hero image on single posts
 */
body.normal.single-post .hero {
  padding: 0 17.021276594%;
  background-color: #fff;
}
@media only screen and (max-width: 979px) {
  body.normal.single-post .hero {
    padding: 0 6.38297872%;
  }
}
@media only screen and (max-width: 529px) {
  body.normal.single-post .hero {
    padding: 0;
  }
}
/*
 * Change font size to smaller than largo default
 * @link http://jira.inn.org/browse/VO-24
 */
@media only screen and (max-width: 768px) {
  h1.entry-title {
    font-size: 28px;
  }
  p {
    font-size: 17px;
  }
  body.normal.single-post article.post > header,
  body.normal.page article.post > header {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.single-post #sidebar .widget,
.voiceofoc-right-rail .widget {
  padding: 0px;
}
.single-post #sidebar .widget + .widget,
.voiceofoc-right-rail .widget + .widget {
  border: none;
}
.single-post #sidebar h1 > a,
.voiceofoc-right-rail h1 > a {
  color: inherit;
}
.gform_wrapper.donation_form_wrapper .field_sublabel_above {
  height: auto;
  margin-bottom: 0;
}
.gform_wrapper.donation_form_wrapper #field_1_15 .gfield_label,
.gform_wrapper.donation_form_wrapper .gfield_required,
.gform_wrapper.donation_form_wrapper .ginput_product_price_label {
  display: none;
}
.gform_wrapper.donation_form_wrapper .top_label .gfield_label {
  font-size: 0.875em;
  font-weight: 400;
  margin: 0.75em 0 0.188em;
}
.gform_wrapper.donation_form_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0;
}
.gform_wrapper.donation_form_wrapper .gfield_price {
  width: 30%;
  float: left;
}
.gform_wrapper.donation_form_wrapper .gfield_price .ginput_amount {
  width: 100%;
}
@media (max-width: 1050px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 35%;
  }
}
@media (max-width: 980px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 50%;
  }
}
.gform_wrapper.donation_form_wrapper #field_1_15 {
  clear: none;
}
.gform_wrapper.donation_form_wrapper ul {
  font-size: 19.55px;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio {
  position: relative;
  top: 37px;
  left: 20px;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li {
  display: inline;
  margin-right: 12px;
  float: left;
  width: auto;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input {
  display: none;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li label {
  padding: 8px 24px;
  margin: 0;
  background-color: #2275bb;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input[type=radio]:checked + label {
  background-color: #f89406;
  font-weight: 500;
}
@media (max-width: 500px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    margin-right: 8px;
  }
}
@media (max-width: 980px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio {
    clear: both;
    top: 0;
    left: 0;
  }
}
.gform_wrapper.donation_form_wrapper .ginput_container_address,
.gform_wrapper.donation_form_wrapper .gfield_total,
.gform_wrapper.donation_form_wrapper .ginput_container_creditcard {
  margin-bottom: 0.875em;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20,
.gform_wrapper.donation_form_wrapper .gfield_total {
  width: 100%;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20 .gfield_label,
.gform_wrapper.donation_form_wrapper .gfield_total .gfield_label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}
.gform_wrapper.donation_form_wrapper .gform_button[type=submit] {
  padding: 12px 36px;
  background-color: #f89406;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  font-size: 21px;
  font-weight: bold;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex .ginput_right select,
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex select {
  height: 41px;
  margin-bottom: 0 !important;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
  margin-top: 0.25em;
}
@media (max-width: 480px) {
  .gform_wrapper.donation_form_wrapper .gf_name_has_2 span,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_left,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    width: 100% !important;
  }
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    display: block;
    clear: both;
    float: none;
    text-align: center;
  }
  .gform_wrapper.donation_form_wrapper .gfield_price,
  .gform_wrapper.donation_form_wrapper .top_label input.medium {
    width: 97.5%;
  }
  .gform_wrapper.donation_form_wrapper div.ginput_container_name span {
    margin-right: 0;
    padding-right: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right {
    margin-left: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    margin-right: 0;
  }
}
.page-template-page-clean header.text-align-center {
  margin-top: 10px;
  text-align: center;
}
body.normal.page-template-page-clean article.page > header.entry-header {
  margin: 24px 0;
  text-align: center;
}
#page-clean-gohome {
  margin-bottom: -24px;
  margin-top: 10px;
}
span.date-published {
  color: #9D004F;
}
.mobile-story span.date-published {
  margin-right: 7px;
  font-size: 10px;
}
.mobile-story span.date-published span.today {
  font-size: 11px;
}
@media (max-width: 768px) {
  div.sticky-footer-holder.show {
    display: none!important;
  }
}
#site-header {
  margin: 12px 0 0;
  text-align: center;
}
@media (max-width: 860px) {
  #site-header {
    text-align: left;
  }
}
#site-header .header_img {
  max-height: 150px;
  margin: 0 0 20px;
}
#site-header div.widget {
  float: left;
  max-width: 320px;
  text-align: left;
  width: 320px;
}
@media (max-width: 860px) {
  #site-header div.widget {
    display: none;
  }
}
#site-header aside {
  width: 320px;
}
#header-time {
  border-bottom: 1px solid #dddddd;
  padding: 8px 5%;
  margin-top: 0;
  font-size: 13px;
  width: 110%;
  margin-left: -5%;
}
#header-search {
  max-width: 300px;
}
.stories article {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 16px;
  margin-bottom: 14px;
  overflow: hidden;
}
header.archive-background .rss-subscribe-link {
  display: none;
}
.voiceofoc-recent-posts h1.voiceofoc-rp-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12.8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
}
.voiceofoc-recent-posts article.voiceofoc-recent-post h1 {
  font-size: 16px !important;
}
.voiceofoc-recent-posts article.voiceofoc-recent-post figure {
  float: right;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 0px;
}
.voiceofoc-headline-media {
  height: 4em;
}
.voiceofoc-headline-media aside {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.voiceofoc-headline-media aside p {
  font-size: 12.8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
}
.voiceofoc-headline-media aside p img {
  height: 25px;
}
.archive .entry-content.with-hero {
  margin: 0 0 24px;
  padding: 0;
  width: 100%;
}
#supplementary .menu-widgets-footer-1-container > ul.menu > li {
  margin-bottom: 30px;
}
#supplementary .menu-widgets-footer-1-container > ul.menu > li > a {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #555;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
#supplementary .menu-widgets-footer-1-container > ul.menu li {
  padding: 0px;
  border: none;
  font-size: 12.8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#supplementary .menu-widgets-footer-1-container > ul.menu li a {
  color: white;
}
#site-footer .contact section {
  margin-bottom: 20px;
}
#site-footer .contact section p {
  margin-bottom: 0px;
  font-size: 12.8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#site-footer .contact section .voiceofoc-tip a {
  color: #bd261d;
}
.related-topics a {
  color: #000000;
}
.primary-featured-post .entry-title a,
.secondary-featured-post .entry-title a {
  color: #000000;
}
.entry-content .entry-title a {
  color: #000000;
}
.entry-content aside.related-top {
  float: right;
  clear: right;
  width: 30%;
  margin-left: 12px;
  display: block;
}
.entry-content .related {
  display: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #dddddd;
}
.entry-content .related h1 {
  margin-bottom: 8px;
  font-size: 17.6px;
  text-transform: uppercase;
  font-weight: bold;
}
.stories h2.entry-title {
  font-size: 30px;
}
.sep {
  display: none;
}
@media (max-width: 979px) {
  #main {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .voiceofoc-content .span4,
  body.single-post .span8 {
    border-right: none;
  }
  #content {
    margin-bottom: 24px;
  }
}
@media (max-width: 1170px) {
  #header-search {
    display: none;
  }
}
