/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
figure.mobile-photo {
  display: none;
  float: right!important;
}
@media (max-width: 768px) {
  figure.mobile-photo {
    display: block;
  }
}
@media (max-width: 768px) {
  figure.desktop-photo {
    display: none;
  }
}
figure.is-gallery {
  position: relative;
  width: 100%;
}
figure.is-gallery a::after {
  content: '\e801';
  font-family: "fontello";
  position: absolute;
  bottom: 0.4em;
  right: 0.4em;
}
figure.is-gallery a::before {
  content: ' Slideshow';
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0.4em;
  right: 2.2em;
}
figure.is-gallery a::before,
figure.is-gallery a::after {
  background-color: black;
  color: #ffffff;
  padding: 0.3em 0.7em;
  font-size: 13.04px;
}
.home .global-nav-bg {
  display: none;
}
.home .stories {
  margin-left: 0;
}
@media (max-width: 768px) {
  .home #main {
    margin-top: 0;
  }
}
#homepage-voiceofoc {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#homepage-voiceofoc > section.span8 {
  border-right: 1px solid #e2e2e2;
  padding-right: 1.06382979%;
}
#homepage-voiceofoc > aside.span4 {
  margin-left: 1.06382979%;
}
#homepage-voiceofoc .voiceofoc-right-rail .widget {
  padding-left: 0;
}
#homepage-voiceofoc .voiceofoc-right-rail article.voiceofoc-recent-post {
  padding-bottom: 0;
}
#homepage-voiceofoc .voiceofoc-right-rail article.voiceofoc-recent-post h1 {
  margin-bottom: 0;
  line-height: 1.2;
}
#homepage-voiceofoc .voiceofoc-right-rail article.voiceofoc-recent-post p {
  margin-top: 8px;
  margin-bottom: 12px;
}
#homepage-voiceofoc .row-fluid.row-wrap .span4:nth-child(3n+4),
#homepage-voiceofoc .row-fluid.row-wrap .span4.row-last {
  clear: left;
  margin-left: 0;
}
#homepage-voiceofoc .homepage-top-stories {
  float: right;
}
#homepage-voiceofoc .homepage-top-stories article.voiceofoc-sticky {
  border-bottom-width: 3px;
}
#homepage-voiceofoc .homepage-top-stories article.voiceofoc-sticky h1 {
  font-size: 27px;
  padding-top: 11px;
}
#homepage-voiceofoc .homepage-top-stories article.voiceofoc-sticky figure {
  float: none;
  margin-top: 0;
}
#homepage-voiceofoc .homepage-top-stories figure {
  float: right;
  margin: 0;
}
#homepage-voiceofoc .homepage-top-stories figure figcaption {
  margin-top: 8px;
  margin-bottom: 4px;
}
#homepage-voiceofoc .homepage-top-stories .top-middle figure {
  margin: 0 0 0 10px;
}
#homepage-voiceofoc .homepage-top-stories article:last-child {
  border: none;
}
#homepage-voiceofoc .homepage-featured {
  margin-left: 0;
  border-right: 1px solid #e2e2e2;
  padding-right: 2.12765957%;
}
#homepage-voiceofoc .homepage-featured h1 {
  font-style: italic;
}
#homepage-voiceofoc .homepage-featured article:last-child {
  border: none;
}
#homepage-voiceofoc .homepage-featured .post-category-link {
  display: none;
}
#homepage-voiceofoc .homepage-top-stories .post-category-link {
  display: none;
}
#homepage-voiceofoc .homepage-top-stories .top-term-post_tag-deep-dive .post-category-link,
#homepage-voiceofoc .homepage-featured .top-term-post_tag-deep-dive .post-category-link {
  display: block;
}
#homepage-voiceofoc .homepage-top-stories .top-term-post_tag-deep-dive .post-category-link a,
#homepage-voiceofoc .homepage-featured .top-term-post_tag-deep-dive .post-category-link a {
  display: block;
  content: '';
  background: url('../../../img/tag-deep-dive-320x75-indexed-no-subtitle.png') no-repeat center;
  margin-bottom: 0;
  background-size: 100% 100%;
  height: 30px;
  width: 128px;
  color: transparent;
  text-decoration: none;
}
#homepage-voiceofoc .homepage-top-stories .top-term-post_tag-deep-dive .post-category-link a:hover,
#homepage-voiceofoc .homepage-featured .top-term-post_tag-deep-dive .post-category-link a:hover {
  color: transparent;
  text-decoration: none;
}
#homepage-voiceofoc .homepage-top-stories .top-term-post_tag-opinion .post-category-link,
#homepage-voiceofoc .homepage-featured .top-term-post_tag-opinion .post-category-link {
  display: block;
}
#homepage-voiceofoc .homepage-top-stories .top-term-post_tag-opinion .post-category-link a,
#homepage-voiceofoc .homepage-featured .top-term-post_tag-opinion .post-category-link a {
  display: block;
  color: #44680C;
  font-size: 12.8px;
  text-transform: uppercase;
  font-weight: 600;
}
#homepage-voiceofoc .missed-it.row-fluid .span4 {
  height: 200px;
  overflow: hidden;
}
#homepage-voiceofoc .missed-it.row-fluid article {
  border: none;
}
#homepage-voiceofoc .missed-it.row-fluid article h1 {
  font-size: 14.4px;
}
#homepage-voiceofoc .missed-it.row-fluid article figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 3px;
}
#homepage-voiceofoc article h1,
#homepage-voiceofoc article h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.2;
}
#homepage-voiceofoc article h1 a,
#homepage-voiceofoc article h2 a {
  color: black;
}
#homepage-voiceofoc article p {
  font-size: 13.04px;
  margin-bottom: 12px;
}
#homepage-voiceofoc article p:last-child {
  margin-bottom: 0;
}
#homepage-voiceofoc article figcaption {
  font-size: 11.2px;
  margin-bottom: 6px;
  font-weight: normal;
  color: #aaaaaa;
  text-align: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#homepage-voiceofoc article h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  margin-bottom: 0;
}
#homepage-voiceofoc article h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13.04px;
  margin-bottom: 9px;
}
#homepage-voiceofoc article h5 .by-author {
  color: #aaaaaa;
}
#homepage-voiceofoc article h5 .author {
  font-weight: normal;
}
#homepage-voiceofoc article h5 time.recent {
  color: #bd261d;
}
#homepage-voiceofoc .byline a {
  color: #aaaaaa;
  text-transform: uppercase;
}
#homepage-voiceofoc header.color-box {
  text-align: center;
  vertical-align: middle;
  margin-top: 1em;
  margin-bottom: 1em;
}
#homepage-voiceofoc header.color-box h1 {
  font-weight: 900;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#homepage-voiceofoc header.color-box.color-box-missed-it {
  background-color: #222222;
  color: white;
}
#homepage-voiceofoc header.color-box.color-box-supporters {
  background-color: #222222;
  color: white;
}
#homepage-voiceofoc .our-supporters {
  font-size: 0.1px;
  text-align: justify;
}
#homepage-voiceofoc .our-supporters a {
  display: inline-block;
  margin: 3px;
}
#homepage-voiceofoc .our-supporters img {
  height: 60px;
}
#homepage-voiceofoc .our-supporters div.textwidget:after {
  content: '';
  width: 100%;
  display: inline-block;
}
@media (max-width: 768px) {
  #homepage-voiceofoc .span2,
  #homepage-voiceofoc .span3,
  #homepage-voiceofoc .span4,
  #homepage-voiceofoc .span5,
  #homepage-voiceofoc .span7,
  #homepage-voiceofoc > section.span7,
  #homepage-voiceofoc .span8,
  #homepage-voiceofoc > section.span8,
  #homepage-voiceofoc .span9,
  #homepage-voiceofoc .span12 #site-footer .span2,
  #site-footer .span3,
  #site-footer .span4,
  #site-footer .span5,
  #site-footer .span6,
  #site-footer .span7,
  #site-footer .span8,
  #site-footer .span9,
  #site-footer .span12 {
    clear: both;
    width: 100%;
    padding: 10px;
    margin: 0;
    border-right: 0;
    border-left: 0;
  }
}
@media (max-width: 1100px) {
  .home .navbar li > a {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .home .navbar li > a {
    font-size: 14px;
  }
}
@media (max-width: 895px) {
  .home .navbar li > a {
    font-size: 13px;
  }
}
